<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="EUC-KR"> -->
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/jquery-3.5.1.js"></script>
<script src="js/socket.io.js"></script>
<script type="text/javascript">
	var flag_ing = false;
	var block2D = [
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],

		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0]
	];
	
	var stack2D = [
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0]
	];
	
	var scrin2D = [
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		                      
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0],
		[0,0,0,0,0, 0,0,0,0,0]
	];
	
	class Block {
		  constructor(type,status,i,j) {
		    this.type = type;
		    this.status = status;
		    this.i = i;
		    this.j = j;
		  }
	
	}
	var b = new Block(1,1,2,4);

	
	function setBlock2DFromClass(){
		
		for(var i=0; i<block2D.length; i++) {
			for(var j=0; j<block2D[j].length; j++) {
				if(block2D[i][j]>0) {
					block2D[i][j] = 0;
				}
			}
		}
		
		if(b.type == 1){
			block2D[b.i		][b.j	]=b.type;
			block2D[b.i		][b.j+1	]=b.type;
			block2D[b.i+1	][b.j	]=b.type;
			block2D[b.i+1	][b.j+1	]=b.type;
		}
		
		if(b.type == 2){
			if(b.status == 1){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j+1	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j-1	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
		}
		
		if(b.type == 3){
			if(b.status == 1){
				block2D[b.i-1	][b.j+1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
				block2D[b.i+1	][b.j+1	]=b.type;
			}	
		}
		
		if(b.type == 4){
			if(b.status == 1){
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i		][b.j+2	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
				block2D[b.i+2	][b.j	]=b.type;
			}	
		}
		
		if(b.type == 5){
			if(b.status == 1){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i-1	][b.j+1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j+1	]=b.type;
			}	
			if(b.status == 3){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
				block2D[b.i+1	][b.j-1	]=b.type;
			}	
			if(b.status == 4){
				block2D[b.i-1	][b.j-1	]=b.type;
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
			}	
		}
		
		if(b.type == 6){
			if(b.status == 1){
				block2D[b.i-1	][b.j-1	]=b.type;
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i-1	][b.j+1	]=b.type;
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
			}	
			if(b.status == 3){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
				block2D[b.i+1	][b.j+1	]=b.type;
			}	
			if(b.status == 4){
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j-1	]=b.type;
			}	
		}
		
		if(b.type == 7){
			if(b.status == 1){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
			}	
			if(b.status == 2){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
			if(b.status == 3){
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i		][b.j+1	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
			if(b.status == 4){
				block2D[b.i-1	][b.j	]=b.type;
				block2D[b.i		][b.j-1	]=b.type;
				block2D[b.i		][b.j	]=b.type;
				block2D[b.i+1	][b.j	]=b.type;
			}	
		}
		
	}
	
	function moveBlock2DToScrin2D() {
		for(var i=0; i<block2D.length; i++) {
			for(var j=0; j<block2D[i].length; j++) {
				if(block2D[i][j]>0){
					scrin2D[i][j] = block2D[i][j];
				}
			}
		}
	}
	
	function moveStack2DToScrin2D() {
		for(var i=0; i<stack2D.length; i++) {
			for(var j=0; j<stack2D[i].length; j++) {
				if(stack2D[i][j]>0) {
					scrin2D[i][j] = stack2D[i][j];
				}
			}
		}
	}
	
	function myrender() {
		var tds = document.getElementsByClassName("mt");
		
		for(var i=0; i<scrin2D.length; i++) {
			for(var j=0; j<scrin2D[i].length; j++) {
				if(scrin2D[i][j] == 0) {
					tds[i*10+j].bgColor = "#ffffff";
				}
				
				if(scrin2D[i][j] == 1) {
					tds[i*10+j].bgColor = "#ff0000";
				}
				if(scrin2D[i][j] == 2) {
					tds[i*10+j].bgColor = "#dd0000";
				}
				if(scrin2D[i][j] == 3) {
					tds[i*10+j].bgColor = "#bb0000";
				}
				if(scrin2D[i][j] == 4) {
					tds[i*10+j].bgColor = "#990000";
				}
				if(scrin2D[i][j] == 5) {
					tds[i*10+j].bgColor = "#770000";
				}
				if(scrin2D[i][j] == 6) {
					tds[i*10+j].bgColor = "#550000";
				}
				if(scrin2D[i][j] == 7) {
					tds[i*10+j].bgColor = "#330000";
				}
				
				if(scrin2D[i][j] == 11) {
					tds[i*10+j].bgColor = "#00ff00";
				}
				if(scrin2D[i][j] == 12) {
					tds[i*10+j].bgColor = "#00dd00";
				}
				if(scrin2D[i][j] == 13) {
					tds[i*10+j].bgColor = "#00bb00";
				}
				if(scrin2D[i][j] == 14) {
					tds[i*10+j].bgColor = "#009900";
				}
				if(scrin2D[i][j] == 15) {
					tds[i*10+j].bgColor = "#007700";
				}
				if(scrin2D[i][j] == 16) {
					tds[i*10+j].bgColor = "#005500";
				}
				if(scrin2D[i][j] == 17) {
					tds[i*10+j].bgColor = "#003300";
				}
				
	
			}
		}
		
	}
	
	function makeScrin2DZero() {
		for(var i=0; i<scrin2D.length; i++) {
			for(var j=0; j<scrin2D[j].length; j++) {
					scrin2D[i][j] = 0;
			}
		}
	}
	
	function changeStatus() {
		if (b.type == 2 || b.type == 3 || b.type == 4) {
			if (b.status == 1) {
				b.status = 2;
			}else if (b.status == 2){
				b.status = 1;
			}
		}
		if (b.type == 5 || b.type == 6 || b.type == 7) {
			if (b.status == 4) {
				b.status = 1;
			}else {
				b.status++;
			}
		}
	}
	
	function isCollision(){
		
		var cnt = 0;
		for(var i=0; i<25; i++) {
			for(var j=0; j<10; j++) {
				if(block2D[i][j]>0) {
					cnt ++;
				}
			}
		}
		console.log("cnt:"+cnt);
		if(cnt<4){
			return true;
		}
		
		for(var i=0; i<block2D.length; i++) {
			for(var j=0; j<block2D[i].length; j++) {
				if(block2D[i][j]>0 && stack2D[i][j]>0) {
					return true;
				}
			}
		}
			
		return false;
	}
	
	function stackBlock(){
		for(var i=0; i<block2D.length; i++){
			for(var j=0; j<block2D[i].length; j++) {
				if(block2D[i][j]>0){
					stack2D[i][j] = block2D[i][j]+10;
				}
			}
		}
	}
	
	function getCount10(){
		var cnt = 0;
		for(var i=0; i<stack2D.length; i++) {
			if(	stack2D[i][0]>0 && 
				stack2D[i][1]>0 && 
				stack2D[i][2]>0 && 
				stack2D[i][3]>0 && 
				stack2D[i][4]>0 && 
				
				stack2D[i][5]>0 && 
				stack2D[i][6]>0 && 
				stack2D[i][7]>0 && 
				stack2D[i][8]>0 && 
				stack2D[i][9]>0){
				cnt++;
			}
		}
		return cnt;
	}
	
	function remove10Stack(){
		var anew = [];

		var cnt10 = 0;

		for(var i=0; i<stack2D.length; i++){
			if(stack2D[i][0]>0 &&
			   stack2D[i][1]>0 &&
			   stack2D[i][2]>0 &&
			   stack2D[i][3]>0 &&
			   stack2D[i][4]>0 &&
			   stack2D[i][5]>0 &&
			   stack2D[i][6]>0 &&
			   stack2D[i][7]>0 &&
			   stack2D[i][8]>0 &&
			   stack2D[i][9]>0 
			){
				cnt10++;
			}else{
				anew.push(stack2D[i]+"");
			}
		}
		
		for(var i=0; i<cnt10; i++){
			anew.unshift("0,0,0,0,0,0,0,0,0,0");
		}
		
		console.log(anew);
		
		for(var i=0; i<anew.length; i++){
			for(var j=0; j<anew[i].length; j++){
				var temp = anew[i];
				var arr10 = temp.split(",");
				stack2D[i][0] = parseInt(arr10[0]);
				stack2D[i][1] = parseInt(arr10[1]);
				stack2D[i][2] = parseInt(arr10[2]);
				stack2D[i][3] = parseInt(arr10[3]);
				stack2D[i][4] = parseInt(arr10[4]);
				
				stack2D[i][5] = parseInt(arr10[5]);
				stack2D[i][6] = parseInt(arr10[6]);
				stack2D[i][7] = parseInt(arr10[7]);
				stack2D[i][8] = parseInt(arr10[8]);
				stack2D[i][9] = parseInt(arr10[9]);
				
			}
		}
		
		
// 		var anew = [];
// 		var cnt = getCount10();
		
// 		console.log(stack2D);
		
// 		if(cnt>0){
// 			for(var i=0; i<stack2D.length-cnt; i++){
// 				anew.push(stack2D[i]);
// 			}
			
// 			for(var i=0; i<cnt; i++){
// 				anew.unshift([0,0,0,0,0, 0,0,0,0,0]);
// 			}
			
// 			console.log(anew);
			
// 			for(var i=0; i<stack2D.length; i++){
// 				for(var j=0; j<stack2D[i].length; j++){
// 					stack2D[i][j] = anew[i][j];
// 				}
// 			}
			
// 			console.log(stack2D);
// 		}
		
		
	}
	
	function isFull(){
		if(stack2D[6][0]>0 ||
		   stack2D[6][1]>0 ||
		   stack2D[6][2]>0 ||
		   stack2D[6][3]>0 ||
		   stack2D[6][4]>0 ||
		   stack2D[6][5]>0 ||
		   stack2D[6][6]>0 ||
		   stack2D[6][7]>0 ||
		   stack2D[6][8]>0 ||
		   stack2D[6][9]>0 ){
			return true;
		}
		return false;
		
// 		for(var i=0; i<stack2D[6].length; i++){
// 			if(stack2D[6][i]>0){
// 				alert("Game Over");
// 			}
// 		}
	}
	
	function mydown(key) {
		if(flag_ing == false) return;
		
		var bak_type 	= b.type;
		var bak_status  = b.status;
		var bak_i 		= b.i;
		var bak_j 		= b.j; 
		
		var flag_down = false;
		if(key == "ArrowUp") {
			changeStatus();
		}
		if(key == "ArrowDown") {
			b.i++;
			flag_down = true;
		}
		if(key == "ArrowRight") {
			b.j++;
		}
		if(key == "ArrowLeft") {
			b.j--;
		}
		
		try {
			setBlock2DFromClass();
		} catch (error) {
			console.error("에러나면 여기");
		}
		
		var flag_collision = isCollision();
		
		if(flag_collision){
			b.type 		= bak_type;
			b.status 	= bak_status;
			b.i 		= bak_i; 	
			b.j 		= bak_j;	
			setBlock2DFromClass();
			if(flag_down){
				stackBlock();
				
				var cnt10 = getCount10();
				if(cnt10>0){
					remove10Stack();
					var obj_disp = document.getElementById("mydisplay");
					var str_cnt = obj_disp.innerHTML;
					var int_cnt = parseInt(str_cnt);
					var total = int_cnt - cnt10;
					obj_disp.innerHTML = total;
					
					if(total<=0){
						alert("you win");
						flag_ing = false;
					}
					
					console.log(str_cnt);
					
				}
				
//				b.type 		= parseInt(Math.random()*7)+1;
				b.type 		= 1;
				b.status 	= 1;
				b.i 		= 2;
				b.j 		= 2;
				setBlock2DFromClass();
			}

		}
		
		makeScrin2DZero();
		moveBlock2DToScrin2D();
		moveStack2DToScrin2D();
		
		
		myrender();
		
		fn_scrin();
		
		var flag_full = isFull();
		if(flag_full){
			alert("you lose");
			flag_ing = false;
		}
		
// 		console.log(block2D);
// 		console.log(scrin2D);



		
	}
	
	function fn_scrin(){
		var myname = $("#myname").val();

		socket.emit('to_server', {
			name : myname,
			command : 'myscrin',
			msg : scrin2D+""
		});
	}
	
	function fn_start(){
		var myname = $("#myname").val();

		socket.emit('to_server', {
			name : myname,
			command : 'start',
			msg : scrin2D+""
		});
	}
	
	
	var socket = null;
	$(document).ready(function() {
		socket = io.connect('http://192.168.45.29:9999');
		socket.on('connect', function() {
			$("#div_con").html("on");
		})
		socket.on('to_client', function(json) {
			var name = json.name;
			var command = json.command;
			var msg = json.msg;
			
			if(command == 'start'){
				flag_ing = true;
			}
			
			console.log("from_server");
			console.log("command:"+command);
			console.log("name:"+name);
			console.log("msg:"+msg);	

		})
	});

	
	window.addEventListener("keydown", (e) => {
		mydown(e.key);
		
	});
	
</script>
<style type="text/css">
.maintable{
	border : 0px;
	margin : 0px;
	padding : 0px;
}
.maintable tr{
	border : 0px;
	margin : 0px;
	padding : 0px;
}
.maintable td{
	width : 10px;
	height : 10px;
}
</style>
</head>
<body>

<table border="1px">
	<tr>
		<td>
			<table class="maintable" border="1px">
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	<tr><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /><td class="mt" /></tr>
	
</table>
점수:<div id="mydisplay">1</div><br>
<a href="javascript:fn_start()">start</a><br>
connect:<div id="div_con"></div><br>
name:<input type="text" id="myname" /><br>


		</td>
		
		
		<td>
		
		</td>
	</tr>

</table>



</body>
</html>