<!DOCTYPE html>
<html lang="en">
<head>
<title>Flask_Chatting_Application</title>
	<script src="js/jquery-3.5.1.js"></script>
	<script src="js/socket.io.js"></script>
	<script type="text/javascript">
		var socket = null;
		$(document).ready(function() {
			socket = io.connect('http://192.168.45.29:9999');
			socket.on('connect', function() {
				$("#div_con").html("on");
			})
			socket.on('to_client', function(json) {
				var name = json.name;
				var command = json.command;
				var msg = json.msg;
				
				var txt_old = $("#div_chat").html();
				var text = "["+command+"]["+name+"]["+msg+"]<br/>"+txt_old;
				
				$("#div_chat").html(text);
				

			})
		});

		
		function fn_send(){
			var myname = $("#myname").val();
			var mycommand = $("#mycommand").val();
			var mymsg = $("#mymsg").val();
			socket.emit('to_server', {
				name : myname,
				command : mycommand,
				msg : mymsg
			});
		}
	</script>
</head>
<body>
	connect:<div id="div_con"></div><br>
	name:<input id="myname" type="text" ><br>
	command:<input id="mycommand" type="text" ><br>
	msg:<input id="mymsg" type="text" ><br>
	<a href="javascript:fn_send()" >send</a><br>
	<div id="div_chat"></div>
	
	
	
	
	
	
	

</body>
</html>